<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NebulaCars</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NebulaCars.styles.css" asp-append-version="true" />
    <style>
        .nav-link-light {
            color: #ffffff; /* Color blanco */
        }
        /* Cambiar el color de los enlaces "Register" y "Login" */
        .navbar-nav .nav-link {
            color: #ffffff !important;
            text-align: center; /* Centrar el texto */
            transition: color 0.3s, font-size 0.3s; /* Transición de color y tamaño de fuente */
        }

        /* Estilos para el cambio de color al pasar el mouse */
        .navbar-nav .nav-link:hover {
            color: red !important; /* Cambiar a color azul al pasar el mouse */
            font-size: 1.2em; /* Agrandar el texto al pasar el mouse */
        }

        /* Estilos para la imagen del logo */
        .navbar-brand img {
            max-width: 100px;
            border-radius: 50%; /* Efecto de redondez */
            overflow: hidden; /* Evita que la imagen se salga del círculo */
            
        }

        /* Estilos para la barra de navegación */
        .navbar {
            background-color: #142239; /* Cambiar el color de fondo a azul */
        }

        /* Estilos para el footer */
        .footer {
            padding: 10px 0; /* Padding superior e inferior reducido */
            font-size: 14px; /* Tamaño de fuente reducido */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar" style="background-color: #142239;">

            <div class="container-fluid">
                <!-- Reemplaza el texto con la etiqueta img -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="display: flex; align-items: center;">
                    <img src="/images/nebulalogo.jpg" alt="NebulaCars Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="AboutUs" asp-action="AboutUs">Sobre-Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contacto" asp-action="Index">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="PostVentas" asp-action="Index">Post-Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Nuestros-Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Catalogo" asp-action="Index">Catálogo</a>
                        </li>
                        
                         
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCambio" asp-action="Index">Tipo Cambio</a>
                        </li>
                        <li class="nav-item">
               <li class="nav-item">
    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link text-dark bi bi-cart" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index">Todo</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a>
    }
</li>



                            <!-- Aplicamos la clase nav-link-light a los enlaces -->
                            <partial name="MenuAdminPartial" />
                    </ul>
                            <partial name="_LoginPartial" class="nav-link-light" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--NO PONER CONTEINER MALOGRA LAS DEMAS VISTAS -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @* FOOTER *@
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center text-middle ml-5">
                    <div class="mt-3 mb-2 flex-grow-1">
                        <p class="text-dark h6" style="font-size: 16px;">Nebula Motors ©
                            @DateTime.Now.Year.ToString().PadLeft(4, '0'). Todos los derechos reservados. Potenciando
                            el futuro con tecnología de vanguardia y pasión por la innovación.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="mb-2"> <img src="~/images/logoNebula.jpg" alt="Descripción de la imagen" class="img-fluid mx-auto d-block"> </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-md-2 mb-2"> <img src="~/images/facebook.jpg" alt="Descripción de la imagen" class="img-fluid"> </div>
                        <div class="col-md-2 mb-2"> <img src="~/images/instagran.jpg" alt="Descripción de la imagen" class="img-fluid"> </div>
                        <div class="col-md-2 mb-2"> <img src="~/images/whatsapp.jpg" alt="Descripción de la imagen" class="img-fluid"> </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mr-4">
                    <div class="mt-3 mb-2">
                        <h5 class="text-dark mb-1">Contáctanos</h5>
                        <p class="text-dark">Email: nebula@gmail.com<br />Teléfono: 5435323</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>










