/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Estilos personalizados para el encabezado */
header {
  background-color: #333; /* Color de fondo oscuro */
  color: white; /* Color del texto */
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

footer {
  
  color: #000000;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

/* Estilos para el texto del pie de página */
footer p {
  margin: 0;
}

/* Estilos para los íconos de redes sociales */
.redes-sociales {
  margin-bottom: 10px;
}

.redes-sociales a {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales a img {
  width: 30px; /* Ajusta el tamaño de los íconos según sea necesario */
  height: auto;
}