@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/banner1.jpg" class="d-block w-100" alt="...">
    <div class="px-5 py-3">
        <div>
<!--<div class="banner-container d-flex justify-content-end align-items-end px-5 py-3" style="background-image: url('~/img/banner1.jpg'); background-size: cover; background-position: center; height: 300px;">
    <div class="px-3" id="modelos" style="color: #fff;">
        <p class="fs-1 fw-bold">Modelos</p>
        <h2>Los vehiculos mas recientes</h2>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light">Boton 1</button>
        <button type="button" class="btn btn-light">Boton 2</button>
    </div>
</div>

  <div class="px-5 py-3" style="background-color: #2A3950;">
    <div class="row">
      <div class="p-3 col">
        </div>
      <div class="p-3 col">
        </div>
      <div class.p-3 col">
        </div>
    </div>
  </div>
</div>-->
        
        <div class="px-3" id="modelos" style="color: #000;">
            <p class="fs-1 fw-bold">Modelos</p>
            <h2>Los vehiculos mas recientes</h2>
        </div>
        <div class="d-flex row">
            <div class="p-3 col">
                <img src="~/images/deport1.jpg"  alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light" style="font-weight: bold; background-color: #142239">MODELO</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>V12</td>
                            <td>V13</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                            <td>350 km/h</td>
                            <td>355 km/h</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>8</td>
                            <td>9</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="p-3 col">
                <img src="~/images/deport2.jpg" alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light" style="font-weight: bold; background-color: #142239">MODELO</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>V12</td>
                            <td>V13</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                            <td>360 km/h</td>
                            <td>365 km/h</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="p-3 col">
                <img src="~/images/deport3.jpg" alt="alt1" class="img-fluid">
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-light" style="font-weight: bold; background-color: #142239">MODELO</button>
                </div>
                <div class="tabla_auto p-3 mt-2">
                    <table class="table">
                        <tr style="color: #fff;">
                            <th>col 1</th>
                            <th>col 2</th>
                            <th>col 3</th>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Motor</td>
                            <td>V12</td>
                            <td>V13</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Velocidad Maxima</td>
                           <td>370 km/h</td>
                            <td>375 km/h</td>
                        </tr>
                        <tr style="color: #000; font-weight: 700">
                            <td>Numero de Cilindros</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                    </table>
                </div>

                

                
         
        
           
                

                
           
        </div>
        
    </div>
</div>
