
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
  <title>About Us</title>

</head>

 
  <div class="container" style="background-image: url(images/tallerAutos.jpg);">
    <h1 style="text-align: center; color: white; font-size: 100px; letter-spacing: 1px;font-family:Arial, Helvetica, sans-serif">Sobre &nbsp;&nbsp;Nosotros</h1>
  </div>

    <div class="content" style="font-weight: bold;">
        <p>Nos dedicamos a brindar a nuestros clientes excelentes experiencias de compra y mantenimiento de vehículos. Desde nuestro inicio, nos hemos comprometido a brindar la mejor selección de vehículos de alta calidad y un servicio al cliente inigualable.</p>
        <p>Nuestro equipo de apasionados del automóvil está aquí para ayudarlo a encontrar el vehículo ideal para sus necesidades y estilo de vida. Ya sea que estés buscando un automóvil nuevo o usado, un SUV espacioso o un automóvil eficiente en combustible, estamos aquí para hacer que tu experiencia de compra sea fácil, emocionante y satisfactoria.</p>
    </div>
  
    <div class="container-2" style="background-image: url(images/saladecomputo.jpg); background-size: cover; height: 400px; padding-top: 160px;">
      <h2 style="text-align: center; color: white; font-size: 50px; letter-spacing: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 80px;">Nuestros Desarrolladores</h2>
    </div>
    
    <div class="content-2" style="font-weight: bold; padding-bottom: 180px;"><p>&nbsp;</p>
      <div class="team-grid">
        <div class="team-member">
          <img class="profile-pic" src="images/luis.jpg" alt="Logo de la concesionaria">
          <p>Nombres: Luis Raúl</p>
          <p>Apellidos: Ticona Peralta</p>
          <p>Edad: 2*</p>
          <p>Sexo: Cabro</p>
        </div>
        <div class="team-member">
          <img class="profile-pic" src="images/abel.jpg" alt="Logo de la concesionaria">
          <p>Nombres: Abel David</p>
          <p>Apellidos: Salvatierra Torres</p>
          <p>Correo: abel_salvatierra@usmp.pe</p>
        </div>
        <div class="team-member">
          <!-- Add image and description for team member 3 -->
          <img class="profile-pic" src="images/luis.jpg" alt="Logo de la concesionaria">
          <p>Nombres: Jair Abraham</p>
          <p>Apellidos: Duran Lazaro</p>
          <p>Correo: jair_duran@usmp.pe</p>
        </div>
        <div class="team-member">
          <!-- Add image and description for team member 4 -->
          <img class="profile-pic" src="images/luis.jpg" alt="Logo de la concesionaria">
          <p>Nombres: Juan Carlos</p>
          <p>Apellidos: Morales Sánchez</p>
          <p>Correo: juan_morales8@usmp.pe</p>
        </div>
      </div>
    </div>


</html>