@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NebulaCars</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NebulaCars.styles.css" asp-append-version="true" />

   
</head>
<body>
    

    <div class="center-container">
    <div class="center-item">
        <img src="/images/q8.png">
        <p>Audi Q8</p>
        <a href="DetallesQ8" class="btn">Ver detalles</a>

    </div>
    <div class="center-item">
        <img src="/images/gle450.png">
        <p>Mercedes Benz GLE450</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/r8.jpg">
        <p>Audi R8</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/bmwx7.jpg">
        <p>Bmw X7</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/fortuner.png">
        <p>Toyota Fortuner</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/durango.png">
        <p>Dodge Durango</p>
        <button class="btn">Ver detalles</button>
    </div>
</div>

<div class="center-container">
    <div class="center-item">
        <img src="/images/porche.jpg">
        <p>Porsche Cayman</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/mclaren.png">
        <p>McLaren 650S</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/ford1.png">
        <p>Ford Raptor</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/jaguar1.png">
        <p>Jaguar F-Pace</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/tiguan1.jpg">
        <p>Volkswagen Tiguan</p>
        <button class="btn">Ver detalles</button>
    </div>
    <div class="center-item">
        <img src="/images/lexus1.png">
        <p>Lexus RX 350</p>
        <button class="btn">Ver detalles</button>
    </div>
</div>

</body>
</html>
