@page
@model RegisterModel
@{
    ViewData["Title"] = "Regístrate!";
}

<style>
    body {
        background-image: url('/images/fondo4.jpg');
        background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
    .card {
        border-radius: 30px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        padding: 50px 0; /* Ajustamos el padding en la parte superior e inferior del formulario */
        width: 60%; /* Ajustamos el ancho del formulario */
        max-width: 300px; /* Establecemos un máximo para el ancho del formulario */
        margin: 0 auto; /* Centramos horizontalmente el formulario */
        background-color: rgba(255, 255, 255, 0.3);
    }

    .card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
 
   

    /* Estilos para el botón de registrarse */
    #registerSubmit {
        background-color: #007bff; /* Color azul */
        border-color: #007bff; /* Color del borde */
        width: 50%;
        margin-left: -5px; /* Agregamos un margen izquierdo para mover el botón a la izquierda */
    }
    footer{
        background-color: #fffdfc
    }    
    
</style>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container form-container"> <!-- Agregamos una clase al contenedor para aplicar los estilos de centrado -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email">Correo electrónico</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-describedby="emailHelp" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Contraseña</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Contraseña" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirmar contraseña" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div><p></p></div>
                        <div class="text-center">
                            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
