@model NebulaCars.Models.AgendarCitas
@{
    ViewData["Title"] = "PostVentas";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <style>
    /* Estilos CSS para mejorar la apariencia del formulario */
    .header-section {
  background: url('/images/taller-mecanico-PostVentas.jpg') no-repeat center center / cover;
  text-align: center;
  color: white;
  padding: 100px 0; /* Adjust padding as needed */
}
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
            }


        .postventas-container {
            display: flex;
            justify-content: center;
            }
        .container2 {
            max-width: 100%;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #142239;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
            

        }
        .image-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .image-container img {
            max-width: 100%;           
            border-radius: 8px;
            height: auto;   
        }
        .appointment-container {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
        .appointment-container h2 {
            color: white;
            margin-bottom: 10px;
        }
        .appointment-container p {
            color: white;
            margin-bottom: 20px;
        }
        .button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0056b3;
        }
    body, html  {
      
      background-color: #f4f4f4;
      width: 100%;
    overflow-x: hidden;
    }
    .container {
      max-width: 100%;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h2 {
      text-align: center;
    }
    input[type="text"], input[type="email"], input[type="tel"], select, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style> 

</head>
<section class="header-section">
  <h1>Servicio de Calidad</h1>
</section>

<body>
    <h2>PostVentas</h2>
        
    <div class="container2">
        <div class="image-container">
            <img src="~/images/portada.jpg"/>
        </div>
        <div class="appointment-container">
            <h2>¿Agenda tu Cita de mantenimiento Aqui </h2>
            <p>En NEBULA CARS puedes agendar tu cita de mantenimiento de modo onnline rapido, y seguro</p>            
            <a buttonclass="btn-info" asp-action="Agendar" class="button" value="ViewAgendar">Agendar Aqui</a>   
        </div>
    </div>  
    <div class="container2">
      <div class="appointment-container">
            <h2>  Garantia </h2>
            <p>En NEBULA CARS, nuestra garantía, es más que una promesa, es nuestro compromiso o recorrido. Con nosotros, tu satisfacción está asegurada en cada giro del camino.</p>
            <a buttonclass="btn-agendar" asp-action="Garantia" class="button" value="ViewGarantia">Consultar Aqui</a>
        </div>
        <div class="image-container">
            <img src="~/images/taller-electrico-automotriz.jpg"/>
        </div>
    </div>   

    
</body>
</html>

