html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


header {
  background-color: #fdfafa;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para el logo */
header img {
  height: 90px; /* altura del logo */
  width: auto;
  transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Efecto al pasar el mouse sobre el logo */
header img:hover {
  transform: scale(1.1); /* Aumentar el tamaño del logo al pasar el mouse */
}

/* Estilos para la navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex  ;
 
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

nav ul li a:hover {
  color: #e74c3c; /* Rojo al pasar el mouse */
}

/* Estilos para los botones */
.btn {
  background-color: #e74c3c; /* Rojo */
  border: none;
  color: #fff;
  padding: 8px 16px; /* Ajustamos el padding */
  text-align: center;
  text-decoration: none;
  font-size: 14px; /* Tamaño de fuente reducido */
  margin-left: 20px; /* Espacio entre botones */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.btn:hover {
  background-color: #c0392b; /* Rojo más oscuro al pasar el mouse */
}



/* diseño del centro */
.center-single {
  margin: 0 auto; /* Centra el elemento único */
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.center-item {
  width: 200px; /* Ancho del cuadrado */
  height: 200px; /* Alto del cuadrado */
  margin: 10px;
  text-align: center;
  border: 2px solid #ccc; /* Borde del cuadrado */
  padding: 20px; /* Espacio interno del cuadrado */
  transition: background-color 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.center-item img {
  max-width: 100%;
  max-height: 100%;
}

/* Efecto de sombra suave al pasar el mouse */
.center-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Cambia el color al pasar el mouse */
.center-item:hover {
  background-color: #f0f0f0;
}








@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.center-item:nth-child(odd) {
  animation: move 2s ease infinite;
}
.center-item {
  
  transition: background-color 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.center-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra suave */
}
    
.center-item:nth-child(even) {
  animation: move 2s ease infinite;
  animation-delay: 1s; /* Retraso de 1 segundo para los elementos pares */
}

.center-item:hover {
  background-color: #f0f0f0; /* Cambia el color al pasar el mouse */
}



/*CSS PARA CONTACTO */

/* Estilos para el formulario de contacto */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.validation-message {
  color: red;
  font-size: 12px;
}


/* Q8 CARACTERISTICAS*/

.car-details {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.car-details h2 {
  color: #333;
  margin-top: 0;
}

.car-details p {
  color: #666;
  margin-bottom: 10px;
}

.car-details ul {
  list-style-type: none;
  padding: 0;
}

.car-details ul li {
  margin-bottom: 5px;
}

/* index */
.tabla_auto{
  border: 1px solid #fff;
  border-radius: 15px;
}