<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sobre Nosotros</title>
<style>
  /* Comprehensive CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.header-section {
  background: url('/images/tallerAutos.jpg') no-repeat center center / cover;
  text-align: center;
  color: white;
  font-size: 1000px;
  padding: 100px 0; /* Adjust padding as needed */
}

.description-section {
  background-color: #142239; /* Dark blue background */
  color: white;
  padding: 50px;
  text-align: justify;
}

.developers-title-section {
  background: url('/images/saladecomputo.jpg') no-repeat center center / cover;
  text-align: center;
  color: white;
  padding: 50px 0; /* Adjust padding as needed */
}

.developers-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #142239; /* Dark blue background */
  color: white;
  padding: 50px 0; /* You might adjust this value */
  text-align: center;
}

.developer {
  flex: 0 1 220px; /* Adjust basis as needed */
  margin: 20px;
  text-align: center;
}

.developer img {
  width: 100%; /* Makes the image responsive within the container */
  max-width: 200px; /* Maximum size of the image */
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.developer .description {
  margin-top: 10px;
}

h1, h2 {
  color: white;
}
</style>
</head>
<body style="background-color: white">

<section class="header-section" ">
  <h1 style="font-size: 100px;">SOBRE &nbsp; NOSOTROS</h1>
</section>

<div class="description-section">
  <p style="font-weight: bold;">
    Nos dedicamos a brindar a nuestros clientes excelentes experiencias de compra y mantenimiento de vehículos. Desde nuestro inicio, nos hemos comprometido a brindar la mejor selección de vehículos de alta calidad y un servicio al cliente inigualable.
  </p>
  <p style="font-weight: bold;"">
    Nuestro equipo de apasionados del automóvil está aquí para ayudarlo a encontrar el vehículo ideal para sus necesidades y estilo de vida. Ya sea que estés buscando un automóvil nuevo o usado, un SUV espacioso o un automóvil eficiente en combustible, estamos aquí para hacer que tu experiencia de compra sea fácil, emocionante y satisfactoria.
  </p>
</div>

<section class="developers-title-section">
  <h2 style="font-size: 100px;">NUESTROS &nbsp; DESARROLLADORES</h2>
</section>

<div class="developers-info-section">
  <!-- Developer profiles here -->
  <div class="developer">
    <img src="/images/abel.jpg" alt="Desarrollador 1">
    <div class="description" style="font-weight: bold;">
      <p>NOMBRES: Abel David</p>
      <p>APELLIDOS: Salvatierra</p>
      <p>CORREO: abel_salvatierra@usmp.pe</p>
    </div>
  </div>
  <!-- Repeat for each developer -->

  <div class="developer">
    <img src="/images/luis.jpg" alt="Desarrollador 1">
    <div class="description" style="font-weight: bold;">
      <p>NOMBRES: Luis Raúl</p>
      <p>APELLIDOS: Ticona Peralta</p>
      <p>CORREO: luis_ticona1@usmp.pe</p>
    </div>
  </div>

  <div class="developer">
    <img src="/images/juan.jpeg" alt="Desarrollador 1">
    <div class="description" style="font-weight: bold;">
      <p>NOMBRES: Juan Carlos</p>
      <p>APELLIDOS: Morales Sánchez</p>
      <p>CORREO: juan_morales8@usmp.pe</p>
    </div>
  </div>

  <div class="developer">
    <img src="/images/jair.jpeg" alt="Desarrollador 1">
    <div class="description" style="font-weight: bold;">
      <p>NOMBRES: Jair Abraham</p>
      <p>APELLIDOS: Duran Lázaro</p>
      <p>CORREO: jair_duran@usmp.pe</p>
    </div>
  </div>
</div>

</body>
</html>